[Unit]
Description=Float REST API Server
After=multi-user.target

[Service]
User=FLOAT_USER
WorkingDirectory=FLOAT_DIR
ExecStart=FLOAT_DIR/venv/bin/python FLOAT_DIR/server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
